---
import type { PriceItem } from "~/types";

export interface Props {
  items: Array<PriceItem>;
}

const { items } = Astro.props;
---

<ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  {
    items.map(({ title, currency, price, duration, features }) => (
      <li class="flex flex-col items-center gap-4 border border-default bg-offset p-16">
        <p>{title}</p>

        <p class="font-bold text-5xl">
          {price}
          <span class="font-medium text-base">{currency.toUpperCase()}</span>
        </p>
        <p class="text-slate-500 text-xs">
          {duration === "unlimited" ? "unlimited" : `per ${duration}`}
        </p>
        <ul>
          {features.map((feature) => (
            <li class="text-offset">{feature}</li>
          ))}
        </ul>
      </li>
    ))
  }
</ul>
